# Домашнее задание 3
### Линейная и логистическая регрессия

Оформление дз:
Присылайте выполненное на почту `mlphystech@gmail.com` файлы .pdf и .ipynb или ссылку на свой гитхаб.

**Дедлайн: 11 апреля 23:59**

*Зуева Надежда*

ФИВТ МФТИ

Это задание будет посвящено линейной и логистической регрессии.
Мы надеемся, что вы уже знаете, что такое `kaggle`, так как сегодня нам предстоит поработать с самым *классическим* датасетом машинного обучения, а именно $-$ с Титаником!


Цель соревнования $-$ предсказать, кто из пассажиров выживет, а кто, увы, нет.

https://www.kaggle.com/c/titanic

## Теоретические вопросы
### 2 балла (по 0.5 за каждый верный ответ)
1. Что такое линейные модели классификации и регрессии? В чем их основные свойства? Где хорошо работают?
2. Что такое регуляризация и как она используется? 
3. Что такое MSE? Приведите пример.
4. Что такое градиентный спуск? Опишите базовый алгоритм работы.

P.S. просьба не копипастить из Википедии. Это все легко вычисляется и будет караться :)

1 
- Линейные модели регрессии и классификации строят модель, в которых целевая переменная линейно зависит от входных данных и коэффициентов фич. 
- Основные свойства таких моделей: линейные модели быстро учатся и предсказывают, масштабируются на очень большие массивы данных. Также возможно разложение средней ошибки на составляющие bias и disperse, соотношение между которыми можно варьировать с помощью различных видов и параметров регуляризации.
- Могут работать на очень больших данных и разреженных данных. Хорошо работают на данных, когда количество признаков превышает количество наблюдений.

2
- Регуляризация - это включение в минимизируемый функционал модели "штрафной" функции коэффициентов. Это позволяет влиять на абсолютные значения коэффициентов фич, позволяет избежать переобучения. Другими словами, регуляризация позволяет настраивать в определенных пределах сложность модели, переходя от акцентирования на конкретных данных к трендам и наоборот.

3
- MSE это средний квадрат ошибки. Для регрессии это среднее расстояние от объекта до регрессионной гиперповерхности. Также данная величина может являться минимизируемым функционалом качества в методе наименьшиъ квадратов. Пример использования этого функционала будет приведен в данной домашке. Корень данной величины есть среднеквадратичное отклонение.

4
- Градиентный спуск - один из численных методов поиска локального минимума функции. Базовый алгоритм: берем точку, считаем градиент функции, смещаемся на некоторую величину в направлении антиградиента - получили новую точку и так далее.

## Задание 1 (4 балла)
Скачайте файлы `train.csv` и `test.csv`.

Выведите первые 10 строк из `train.csv`

In [1]:
import pandas
from copy import deepcopy
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.cross_validation import KFold

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#считайте данные из файла train.csv
data = pd.read_csv("train.csv")
#выведите первые 10 строк из data
data.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

Разобьем выборку на `X` и `y`, где в `y` будет лежать значение целевой переменной выборки

In [3]:
y = pd.Series(data['Survived'])
X = deepcopy(data).drop(["Survived"], axis=1)

Как мы видим, не все данные *полны*. Например, это видно в столбце `Age`. 
В качестве простейшего решения мы предлагаем заменить пропущенные значения на медианные (функция `numpy.median`)
Вы можете воспользоваться нашим методом или произвести собственный анализ и заменить значения более умным способом (profit: бонусные баллы).

Заменим отсутствующие значения возраста не просто на медиану тренировочного набора, а на медиану набора всех пассажиров (train + test)

In [4]:
data_test = pd.read_csv("test.csv")
print(set(data.keys()) - set(data_test.keys()))

{'Survived'}

In [5]:
data_all = pd.concat([data.drop(["Survived"], axis=1), data_test])
print(data.shape, data_test.shape, data_all.shape)

(891, 12) (418, 11) (1309, 11)

In [6]:
# Replace all the missing ages in the data with the median age
X["Age"] = X["Age"].fillna(data_all["Age"].median())
X.head(7)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

Теперь займемся **оцифровкой признаков**

Кстати, напомните, а зачем нам это нужно? :)

$*$ ваш ответ $*$
Некоторые модели, встроенные в sklearn, могут сравнивать только численные признаки. Чтобы учитывать эти признаки их следует оцифровать, например переводом в численное значение (без расширения количества фич) или путем введения новых фич (наличие конкретного значения = 0, 1)

Какой параметр здесь бинарный? Оцифруйте его при помощи нулей и единиц.

In [7]:
X.loc[X["Sex"] == "male", "Sex"] = 1 #тут что-то должно быть
X.loc[X["Sex"] == "female", "Sex"] = 0 #тут что-то должно быть
X.head(7)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",1,28.0,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S

Выведите описание нашего датасета после изменений с помощью функции `describe`.
Сколько процентов пассажиров выжило? Каков был средний возраст всех пассажиров?

In [8]:
print (X.describe())

       PassengerId      Pclass         Sex         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642    0.647587   29.361582    0.523008
std     257.353842    0.836071    0.477990   13.019697    1.102743
min       1.000000    1.000000    0.000000    0.420000    0.000000
25%     223.500000    2.000000    0.000000   22.000000    0.000000
50%     446.000000    3.000000    1.000000   28.000000    0.000000
75%     668.500000    3.000000    1.000000   35.000000    1.000000
max     891.000000    3.000000    1.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Продолжим заполнять пропуски. Рассмотрим графу пунктов отправления `Embarked` 

Там есть типы данных:

C = Cherbourg, Q = Queenstown, S = Southampton, а также `nan`

In [9]:
print(X["Embarked"].unique())

['S' 'C' 'Q' nan]

In [10]:
import collections
print(collections.Counter(X['Embarked']))

Counter({'S': 644, 'C': 168, 'Q': 77, nan: 2})

С учетом последней ячейки заполните пропущенные значения по своему усмотрению. Объясните свой выбор, затем оцифруйте признак `Embarked` 

Например, заменив все на {0,1,2} или {12,42,10}, как хотите :)

Заменим nan на порт S, в котором село больше всего человек.

In [13]:
X["Embarked"] = X["Embarked"].fillna("S")
print(collections.Counter(X["Embarked"]))

Counter({'S': 646, 'C': 168, 'Q': 77})

In [14]:
#тут ваш код c оцифровкой 
encoders = {"Embarked": preprocessing.LabelEncoder()}
X["Embarked"] = encoders["Embarked"].fit_transform(X["Embarked"])
print(encoders["Embarked"].classes_)
X.head(7)

['C' 'Q' 'S']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2
5,6,3,"Moran, Mr. James",1,28.0,0,0,330877,8.4583,NaN,1
6,7,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,2

Посмотрим на оставшиеся признаки

In [15]:
unique_val = {}
for column in X:
    unique_val[column] = X[column].unique().shape[0]
print("The number of unique items: ", unique_val)

The number of unique items:  {'PassengerId': 891, 'Pclass': 3, 'Name': 891, 'Sex': 2, 'Age': 88, 'SibSp': 7, 'Parch': 7, 'Ticket': 681, 'Fare': 248, 'Cabin': 148, 'Embarked': 3}

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 76.6+ KB

- Удалим из тренировочного набора имена, они индивидуальны для каждого пассажира и при прямой оцифровке будут дублировать PassengerId
- Оцифруем фичу Cabin. Несмотря на ее отсутствие у более чем трех четвертей, она группирует некоторых людей (уникальных значений 147, а заполнено 204).
- По той же причине оцифруем фичу Ticket

- Пусть за нас все решит RFE, так интереснее

In [17]:
X = X.drop(["Name"], axis=1)

In [18]:
encoders["Ticket"] = preprocessing.LabelEncoder()
X["Ticket"] = encoders["Ticket"].fit_transform(X["Ticket"])
encoders["Cabin"] = preprocessing.LabelEncoder()
X["Cabin"] = encoders["Cabin"].fit_transform(X["Cabin"].fillna("cabin info is absent"))

In [19]:
for feature in encoders:
    print(feature, encoders[feature].classes_[:10])

Embarked ['C' 'Q' 'S']
Ticket ['110152' '110413' '110465' '110564' '110813' '111240' '111320' '111361'
 '111369' '111426']
Cabin ['A10' 'A14' 'A16' 'A19' 'A20' 'A23' 'A24' 'A26' 'A31' 'A32']

In [20]:
X.head(7)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,1,22.0,1,0,523,7.2500,147,2
1,2,1,0,38.0,1,0,596,71.2833,81,0
2,3,3,0,26.0,0,0,669,7.9250,147,2
3,4,1,0,35.0,1,0,49,53.1000,55,2
4,5,3,1,35.0,0,0,472,8.0500,147,2
5,6,3,1,28.0,0,0,275,8.4583,147,1
6,7,1,1,54.0,0,0,85,51.8625,129,2

Каким образом можно отобрать фичи, которые будут влиять на наш скор? Тут нам помогут ваш жизненный опыт и ` Recursive Feature Elimination` из библиотеки `Sklearn`

In [21]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression, LinearRegression
model = LinearRegression()#тут можно подбирать параметры для повышения скора)
rfe_fit = RFE(model, 7).fit(X, y)
print(rfe_fit.ranking_)
#тут ваш код

[4 1 1 1 1 1 3 2 1 1]

Проверьте, похожи ли отобранные вами фичи на те, что представленны ниже?
Ответ: не похожи, вмешалась фича Cabin. Возможно, ее следовало удалить руками, но пусть в LinearRegression она будет

In [23]:
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
print(features)
print(list(X.keys()[rfe_fit.support_]))

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Cabin', 'Embarked']

In [24]:
X_new = X.loc[:, list(X.keys()[rfe_fit.support_])]

Выполним предсказания:

In [25]:
kfold = KFold(X_new.shape[0], n_folds=3, random_state=0)

In [26]:
predicts = []
for train_index, test_index in kfold:
    #тут ваш код
    model.fit(X_new.iloc[train_index], y[train_index])
    predicts.append(model.predict(X_new.iloc[test_index]))
predicts = np.concatenate(predicts)

predicts[predicts > 0.5], predicts[predicts < 0.5] = 1, 0

accuracy = np.count_nonzero(y == predicts)/y.count()
print ('Скор для линейной регрессии:',accuracy)

Скор для линейной регрессии: 0.7867564534231201

## Задание 2 (2 балла)
Теперь попробуем проделать то же самое для **логистической регрессии**

http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [27]:
model = LogisticRegression(C = 1.15)
#тут можно подбирать параметры для повышения скора)

# Оценим важность фич для данной модели
rfe_fit = RFE(model, 7).fit(X, y)
X_new = X.loc[:, list(X.keys()[rfe_fit.support_])]

#тут ваш код
scores = []
for train_index, test_index in kfold:
    #тут ваш код
    model.fit(X_new.iloc[train_index], y[train_index])
    scores.append(model.score(X_new.iloc[test_index], y.iloc[test_index]))
    
    

print("Скор для логистической регрессии: " + str(np.array(scores).mean()))

Скор для логистической регрессии: 0.7923681257014591

Попробуем пооптимизировать параметры

In [30]:
from sklearn.model_selection import GridSearchCV
model = LogisticRegression()
params = {
    "C": np.round(np.logspace(-1, 1, 20), 2),
    "penalty": ["l1", "l2"]
}
best_params = []
for i in range(3, 10):
    rfe_fit = RFE(model, i).fit(X, y)
    X_new = X.loc[:, list(X.keys()[rfe_fit.support_])]
    grcv = GridSearchCV(model, params, cv=kfold, scoring="accuracy").fit(X_new, y)
    best_params.append(["i=" + str(i),grcv.best_params_, grcv.best_score_])
best_score_index = np.array(best_params)[:, 2].argmax()
print("Best params are: {}, best score is: {}".format(best_params[best_score_index][:2], best_params[best_score_index][2]))

Best params are: ['i=5', {'C': 0.21, 'penalty': 'l2'}], best score is: 0.8035914702581369

In [32]:
model = LogisticRegression(C = 0.21)

# Оценим важность фич для данной модели
rfe_fit = RFE(model, 5).fit(X, y)

X_new = X.loc[:, list(X.keys()[rfe_fit.support_])]

scores = []
for train_index, test_index in kfold:
    #тут ваш код
    model.fit(X_new.iloc[train_index], y[train_index])
    scores.append(model.score(X_new.iloc[test_index], y.iloc[test_index]))
    
    
selected_features = list(X.keys()[rfe_fit.support_])
print("Selected features: ", selected_features)
print("Скор для подогнанной логистической регрессии: {:.5f}".format(np.array(scores).mean()))

Selected features:  ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']
Скор для подогнанной логистической регрессии: 0.80359

###### Как бы вы объяснили прирост качества в логистической регрессии? 
Сможете побить наш бейзлайн? :)

## Задание 3 (1.5 балла)
Отправьте ваше решение в тестирующую систему и посмотрите, какое место вы займете

рассмотрим `test.csv`

In [33]:
df_test = pandas.read_csv("test.csv")
print(df_test.describe())
X_test = df_test.loc[:, selected_features]
X_test.info()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
Pclass      418 non-null int64
Sex         418 non-null object
SibSp       418 non-null int64
Parch       418 non-null int64
Embarked    418 non-null object
dtypes: int64(3), object(2)
memory usage: 16.4+ KB

In [34]:
X_test.head(7)

   Pclass     Sex  SibSp  Parch Embarked
0       3    male      0      0        Q
1       3  female      1      0        S
2       2    male      0      0        Q
3       3    male      0      0        S
4       3  female      1      1        S
5       3    male      0      0        S
6       3  female      0      0        Q

In [35]:
X_test.loc[X_test["Sex"] == "male", "Sex"] = 1
X_test.loc[X_test["Sex"] == "female", "Sex"] = 0
le = preprocessing.LabelEncoder()
X_test["Embarked"] = le.fit_transform(X_test["Embarked"])
X_test.head(7)

   Pclass  Sex  SibSp  Parch  Embarked
0       3    1      0      0         1
1       3    0      1      0         2
2       2    1      0      0         1
3       3    1      0      0         2
4       3    0      1      1         2
5       3    1      0      0         2
6       3    0      0      0         1

In [36]:
predicts = model.predict(X_test)

Надо вернуть оцифрованные данные к первоначальному виду:

In [37]:
#тут ваш код по возвращению оцифрованных параметров в первоначальный вид
X_test.loc[X_test["Sex"] == 0, "Sex"] = "female"
X_test.loc[X_test["Sex"] == 1, "Sex"] = "male"
X_test["Embarked"] = le.inverse_transform(X_test["Embarked"])
X_test.head(7)

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   Pclass     Sex  SibSp  Parch Embarked
0       3    male      0      0        Q
1       3  female      1      0        S
2       2    male      0      0        Q
3       3    male      0      0        S
4       3  female      1      1        S
5       3    male      0      0        S
6       3  female      0      0        Q

In [38]:
submission = pandas.DataFrame({
    "PassengerId": df_test["PassengerId"],
    "Survived": predicts
})

submission.to_csv("submission.csv", index=False) #вот это отправляется в каггл

Результат в каггле: Public Score 0.77033

Можете попробовать и дальше "поиграться" с параметрами, чтобы подняться в лидерборде. Например, попробовать подобрать параметры в регрессорах. 
Удачи!
    Напоминаем, что справку по любой функции (в том числе и по регрессорам) можно получить, если с наведенным курсором на функцию нажать `Tab`+`Shift`